<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.demo.mapper.TAttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.github.demo.model.TAttachment" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="mime" property="mime" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="realPath" property="realPath" jdbcType="VARCHAR" />
    <result column="createAt" property="createAt" jdbcType="INTEGER" />
    <result column="accessUrl" property="accessUrl" jdbcType="VARCHAR" />
    <result column="acessCount" property="acessCount" jdbcType="INTEGER" />
    <result column="categoryId" property="categoryId" jdbcType="SMALLINT" />
    <result column="createFrom" property="createFrom" jdbcType="SMALLINT" />
  </resultMap>
</mapper>