<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.demo.mapper.TExchangeMapper" >
  <resultMap id="BaseResultMap" type="com.github.demo.model.TExchange" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="bookId" property="bookId" jdbcType="INTEGER" />
    <result column="toUserId" property="toUserId" jdbcType="INTEGER" />
    <result column="toBookId" property="toBookId" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="INTEGER" />
    <result column="statusId" property="statusId" jdbcType="SMALLINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="barId" property="barId" jdbcType="INTEGER" />
    <result column="exchangeDate" property="exchangeDate" jdbcType="INTEGER" />
    <result column="returnDate" property="returnDate" jdbcType="INTEGER" />
    <result column="userFrom" property="userFrom" jdbcType="SMALLINT" />
    <result column="toFrom" property="toFrom" jdbcType="SMALLINT" />
  </resultMap>
</mapper>