<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.demo.mapper.TShareMapper" >
  <resultMap id="BaseResultMap" type="com.github.demo.model.TShare" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="bookId" property="bookId" jdbcType="INTEGER" />
    <result column="activityId" property="activityId" jdbcType="INTEGER" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="INTEGER" />
    <result column="createFrom" property="createFrom" jdbcType="SMALLINT" />
  </resultMap>
</mapper>