<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.demo.mapper.TUserMapper" >
  <resultMap id="BaseResultMap" type="com.github.demo.model.TUser" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="realName" property="realName" jdbcType="VARCHAR" />
    <result column="nickName" property="nickName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="hashPasswd" property="hashPasswd" jdbcType="VARCHAR" />
    <result column="wxId" property="wxId" jdbcType="VARCHAR" />
    <result column="wxToken" property="wxToken" jdbcType="VARCHAR" />
    <result column="qqId" property="qqId" jdbcType="VARCHAR" />
    <result column="qqToken" property="qqToken" jdbcType="VARCHAR" />
    <result column="weiboId" property="weiboId" jdbcType="VARCHAR" />
    <result column="weiboToken" property="weiboToken" jdbcType="VARCHAR" />
    <result column="iconId" property="iconId" jdbcType="INTEGER" />
    <result column="iconPath" property="iconPath" jdbcType="VARCHAR" />
    <result column="genderId" property="genderId" jdbcType="SMALLINT" />
    <result column="birthdate" property="birthdate" jdbcType="DATE" />
    <result column="provinceId" property="provinceId" jdbcType="INTEGER" />
    <result column="cityId" property="cityId" jdbcType="INTEGER" />
    <result column="districtId" property="districtId" jdbcType="INTEGER" />
    <result column="createDate" property="createDate" jdbcType="INTEGER" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="totalLogin" property="totalLogin" jdbcType="INTEGER" />
    <result column="vipLevel" property="vipLevel" jdbcType="SMALLINT" />
    <result column="totalCredit" property="totalCredit" jdbcType="INTEGER" />
    <result column="statusId" property="statusId" jdbcType="SMALLINT" />
    <result column="totalUnreadMsg" property="totalUnreadMsg" jdbcType="INTEGER" />
    <result column="idcardNo" property="idcardNo" jdbcType="VARCHAR" />
    <result column="idcardTypeId" property="idcardTypeId" jdbcType="INTEGER" />
    <result column="idcardImageId1" property="idcardImageId1" jdbcType="INTEGER" />
    <result column="idcardImageId2" property="idcardImageId2" jdbcType="INTEGER" />
    <result column="approveTime" property="approveTime" jdbcType="INTEGER" />
    <result column="approveMark" property="approveMark" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="signFrom" property="signFrom" jdbcType="SMALLINT" />
    <result column="deviceId" property="deviceId" jdbcType="INTEGER" />
    <result column="lastDeviceId" property="lastDeviceId" jdbcType="INTEGER" />
    <result column="lastFrom" property="lastFrom" jdbcType="SMALLINT" />
  </resultMap>
</mapper>